<h1> Enter the battle! </h1>
<form action="/names" method='post'>
  Enter player 1: <input type='text' name='player1'>
  <br>
  Enter player 2: <input type="text" name='player2'>
  <br>
  <input type='submit' value='Submit'>
  </form>
