<style>

body {
  text-align: center;
  font-family: "Arial";
  background-color: pink;
  }
h1 {
  margin-top: 50px;
  color: SlateBlue;
  font-size: 80px;
}
h2{
  color: rgb(60 60 60);
  font-size: 50px;
}
button {
  font-size: 25px;
  padding: 14px 40px;
  background-color: red;
  color: white;
}
</style>


<h1> <%= $game.player1.name %> vs <%= $game.player2.name %> </h1>

<h2><%= $game.player2.name %>: <%= $game.player2.score%> HP(s)</h2>

<form action="/attack">
  <button type='submit'>Attack</button>
  </form>
